* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  display: flex;
}

.red {
  display: inline;
  background-color: red;
  width: 200px;
  height: 200px;
}

.green {
  display: inline;
  background-color: green;
  width: 200px;
  height: 200px;
}

.blue {
  display: inline;
  background-color: blue;
  width: 200px;
  height: 200px;
}

.gold {
  display: block;
  background-color: gold;
  width: 600px;
  height: 200px;
}
